bin/
obj/
.vs/
**/.vs/
**/.vs/**
*.user
*.suo
*.cache
*.vsidx
**/*.vsidx
.vscode/
*.log
appsettings.Development.json
**/.git/
**/.gitignore
**/.dockerignore
**/node_modules/
**/npm-debug.log
**/.DS_Store
**/Thumbs.db
samples/
deploy-to-azure.ps1
update-aca-app.ps1
